<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout Receipt</title>
</head>
<body>
    <h1>Recibo Electronico</h1>
    <p>Correo del cliente: {{ username }}</p>
    <h2>Articulos Ordenados:</h2>
    <ul>
        {% for item in carrito %}
        <li>{{ item['product']['name'] }} - Cantidad: {{ item['quantity'] }} - Precio por unidad: ${{ item['product']['price'] }}</li>
        {% endfor %}
    </ul>
    <p>Precio Total: ${{ total_price }}</p>

    
    <form action="{{ url_for('export_pdf') }}" method="POST" target="_blank">
        <input type="hidden" name="username" value="{{ username }}">
        <input type="hidden" name="carrito" value="{{ carrito }}">
        <input type="hidden" name="total_price" value="{{ total_price }}">
        <button type="submit">Exportar como PDF</button>
    </form>
</body>
</html>
